$c-light: #ffffff;
$c-dark: #5f458c;
$c-purple: #a67ee5;

$font: "Proxima Nova", "Arial", sans-serif;
$font-alt: "Radical", "Arial", sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;

$anim-xs: 0.2s;
$anim-s: 0.35s;
$anim-m: 0.5s;
$anim-l: 0.8s;
$anim-xl: 1.1s;
$anim-xxl: 1.5s;

$load-timing-function: cubic-bezier(0.17, 1.1, 0.57, 0.88);
